dependency_injector==4.45.0
pytest==7.4.4
sqlalchemy==2.0.37
aiohttp
requests~=2.32.3
dependency-injector~=4.45.0
requests-mock~=1.12.1
numpy~=2.2.2
temporalio~=1.9.0
apscheduler~=3.11.0
pydantic~=2.10.3
sqlmodel>=0.0.22
structlog>=24.4.0
prometheus_client>=0.21.1
app~=0.1.0
python-dotenv~=1.0.1
pydantic-settings~=2.6.1
opentelemetry-api>=1.29.0
opentelemetry-sdk>=1.29.0
opentelemetry-exporter-otlp>=1.29.0
opentelemetry-instrumentation-fastapi>=0.50b0
opentelemetry-instrumentation-celery>=0.50b0
opentelemetry-instrumentation-threading>=0.50b0
opentelemetry.instrumentation.system_metrics>=0.50b0